@charset "utf-8";
/*layout*/
.window,.screen{min-width:990px;}
.s_miniHeader,.s_miniFooter,.s_body{min-width:990px;color:#555;}
.s_miniHeader{width:auto;}
.s_miniHeader .headerBox{width:970px;padding:0 10px;}
.s_main{width:970px;margin-top:20px;padding:0;background-color:#fff;}
.s_footer .footerBox{width:970px;padding:0 10px;}
.s_body a{color:#3399e0;}

/*common_font*/
.uploadF_12{font-family:'宋体';color:#909090;font-size:12px;}
.uploadF_14{ font-family:'宋体';font-weight:bold;}
.uploadf_14{font-family:'宋体';font-size:14px;color:#909090;}
.space5{width:100%;height:5px;line-heihgt:5px;white-space:nowrap;overflow:hidden;clear:both;}
.space20{width:100%;height:20px;white-space:nowrap;overflow:hidden;clear:both;}
.f_36{font-size: 36px;color:#909090;line-height:36px;padding-left:10px;float:left;}/*2012_09_13_float:left;*/
.line{color:#D5D5D5;}
.hover{border:1px solid #999;cursor:pointer;}
.upTransparent{ filter:alpha(opacity=99);-moz-opacity:9.9;-khtml-opacity:9.9;opacity:0.99;}
.error{font-size:12px;color:#AA0707;clear:both;margin-left:60px;padding-top:5px;display:none}
.error_prepare{font-size:12px;color:#AA0707;clear:both;padding-top:5px;}/*2012_09_21_add_b*/
.errorTips{}
/*=======prepare_page_start=========*/
/*prepare_top*/
.uploadTitle{height:30px;background-color:#555;}
.uploadTitle h3{line-height:14px;color:#fff;padding:8px 10px;}

/*prepare_main*/
.mainCol{padding-top:30px;}
.mainCol .uploadHot{width:588px;height:182px;margin:0 auto;border:1px solid #fff;} /*border为临时添加，后期要去掉border:1px solid #fff;*/
.mainCol .uploadHot:hover{cursor:pointer;background:url(/v/img/upload/hover.png) repeat-x;background-position:0px -1px;border:1px solid #d3d3d3;}
.mainCol .uphotBg{cursor:pointer;background:url(/v/img/upload/hover.png) repeat-x;background-position:0px -1px;border:1px solid #d3d3d3;}
.mainCol .uploadIcon{margin:20px auto 0px;width:92px;height:81px;background:url(./img/upload.png);background-position:-49px -80px;}
.mainCol .uploadBtn{margin:12px auto 0px;width:190px;height:45px;background:url(./img/upload.png);background-position:0px -173px;}
.mainCol .uploadIntro{text-align:center;font-size:12px;margin-bottom:5px;}
.mainCol .uploadIntro .f_12 a{color:#99ccee;}
.mainCol .uploadIntro span{padding:0 15px;}
.mainCol .error{margin-bottom:25px;}/*2012_09_13_add*/
.mainCol .prepare_errortips{height:50px;}
.mainCol .error_prepare{margin-bottom:25px;}/*2012_09_21_add_b*/
/*.mainCol .t_c{margin-bottom:5px;}2012_09_13_delete*/

/*prepare_bottom*/
.uploadFtp{margin-top:40px;height:119px;border-bottom: 1px solid #D5D5D5;}
/*.uploadBox{width:300px;height:100px;float:left;margin-left:20px;overflow:hidden;}*/
.uploadBox{display:inline;width:300px;height:100px;float:left;margin-left:20px;overflow:hidden;}/*2012_09_13_display:inline;*/
.upText{color:#909090;margin-bottom:10px;}
.uploadBox .uploadF_12{margin-bottom:3px;}

/*bottom_box_client*/
.upIcon{background:url(./img/upload.png) no-repeat;width:50px;height:55px;background-position:0px 0px;margin-right:10px;}

/*bottom_box_pak*/
.pakIcon{background:url(./img/upload.png) no-repeat;width:50px;height:55px;background-position:-80px 0px;margin-right:10px;}

/*bottom_box_help*/
.uploadBox p{background:url(./img/upload.png) no-repeat;width:80px;height:35px;background-position:-240px -205px;}
.uploadBox ul{margin:0px 10px;}
.uploadBox ul li{line-height:20px;}
.uploadBox em{background:url(./img/upload.png) no-repeat;width:20px;height:20px;background-position:-475px -75px;margin-right:5px;}

/*minifooter*/
.s_miniFooter{margin-top:30px;}
/*=======prepare_page_end=========*/

/*=======uploading_page_start=====*/
.upTips{height:28px;background-color:#fcfae0;border:1px solid #ECDDAB;margin-bottom:5px;}/*视频上传完成前设置display:none;*/
.upTips p{background:url(./img/upload.png) no-repeat;width:16px;height:16px;background-position:0px -80px;margin:6px 10px;float:left;display:inline;}
.upTips .f_14{float:left;padding-top:4px;}
.upTitle{margin:0px 10px 9px 0px;}


/*circle_tangle*/
.progressTop{height:30px;border:1px solid #D3D3D3;float:left;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:0px 3px;position:relative;display:inline;}
.progress{width:640px;height:20px;margin-top:5px;}
.upItems li{height:32px;}
.upItems .cancel{margin-right:20px;float:right;line-height:30px;_display:inline;}
.upItems .cancel a{width:20px;height:20px;background:url(./img/upload.png) no-repeat -300px 0px;padding-left:40px;color:#9ce;}
.upItems .remark{margin-top:5px;margin-bottom:5px;*margin-top:0px;*margin-bottom:0px;}
.upItems .remark p{float:left;width:250px;margin-top:5px;line-height:12px;}
/*process_bar_css3*/
html {
font-size: 100%;
}
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;
}
div {
display: block;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.progress {
  height: 20px;
  overflow: hidden;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}/*2012_09_13_margin-bottom: 20px;*/

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  _background-color: #0E92D3;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/*progress_bar_end*/

/*uploading_main*/
.videoInfo{width:100%;background-color:#F6F6F6;}/*16:43 height:339px;*/
.videoLeft{margin:10px;width:639px;float:left;border-right:1px solid #dadada;display:inline;}/*2012_09_13_display:inline;*/
.videoInfo h3{float:left;margin-right:20px;}
.videoInfo .items{margin-left:10px;height:30px;}/*2012_09_13_margin-bottom:20px;*/


.videoInfo .upBottom{height:14px;padding-top:6px;}
.textareaItems{position:relative;width:610px;margin-left:10px;*zoom:1;}
.textareaItems .qtips{*zoom:1;*z-index:1000; display:none}
.textareaItems span{vertical-align:top;line-height:30px;}
.textareaItems .form_input{width:548px;height:60px;float:left;}/*You can change the value of height freely*/

/*qtips*/
.videoLeft .items{position:relative;}  /*2012_09_18_add*/
.videoLeft .items .qtips_lt{left:97%;top:-10px;position:absolute;z-index:100;}/*2012_09_18_add*/
.videoLeft .items .qtips_lt .con_tips,.textareaItems .qtips_lt .con_tips{float:left;width:174px;}/*2012_09_21_add*/
.qtips .content p{width:16px;height:30px;background:url(./img/upload.png) no-repeat -160px 0px;float:left;margin-right:10px;}
.items .f_14,.textareaItems .f_14,.upSide .f_14{float:left;width:43px;line-height:30px;}
.upOriginal{width:562px;height:28px;cursor:pointer;float:left;border:1px solid #bbb;background:url(/v/img/upload/input_bg.png) repeat-x 0px -1px;}
.upOriginal span{font-size:14px;line-height:26px;margin-left:5px;float:left;}
.upOriginal a,.upRight dt a, .upRight .upload-selector a{float:right;width:25px;height:20px;background:url(./img/upload.png) no-repeat -155px -70px;}

.upOriginal:hover,.upcate_hover{border:1px solid #999;cursor:pointer;}
.itemCate{*position:relative;}
.upCate{width:562px;height:122px;*left:0px;margin-left:43px;margin-top:30px;background-color:#fefefe;border:1px solid #999;position:absolute;*position:absolute;z-index:100;*z-index:1000;border-top:none;display:none;}/*暂时隐藏display:none;*/
.upCate dl a{display:inline-block;margin-top:10px;margin-left:25px;width:50px;_width:50px;line-height:25px;float:left;text-align:center;font-size:14px;border:1px solid #fff;display:inline;color:#555;}
.upCate  a:hover{cursor:pointer;background-color:#99CCEE;color:#fff; text-decoration:none;}
.upCate dl a.selected{background-color:#f2f2f2;font-weight:bold;border:1px solid #d3d3d3;color:#555;}

.input-mini {
    border:0;
    float:left;
    background:transparent;
    height:20px;
    line-height:20px;
    margin:0;
    padding:0;
    outline: none;
    margin:2px 0px;
}
.items .form_input{width:546px;line-height:20px;float:left;}
.videoInfo .items_last{margin-bottom:5px;}
.form_input_error:focus{border-color:#aa0707;}
.meta-tags-container .upSelect{height:20px;line-height:20px;background-color:#e0f3ff;float:left;padding-left:5px;margin:2px 5px;cursor:pointer;border:1px solid #c6e1f3;zoom:1;z-index:1;*display:inline-block;_display:inline;}/*2012_09_21_add_b*/
.upSelect span{float:left;}
.meta-tags-container .upSelect p{width:20px;height:18px;background:url(./img/upload.png) no-repeat -235px 4px;float:left;cursor:pointer;}
.upLabel{width:564px;margin-left:50px;display:none;}/*display:none;position:absolute;*/
.upLabel p,.upLabel .uplabel_select{float:left;display:inline;line-height:30px;text-align:center;}
.upLabel p{margin-right:10px;}
.upLabel .uplabel_select{width:490px;*display:inline;line-height:30px;}
.uplabel_select span{float:left;}
.upLabel_list a{text-align:center;padding:3px 8px;text-decoration:none;line-height:30px;word-break:normal;word-wrap:normal;white-space: nowrap;}
.upLabel_list a:hover{padding:3px 8px;cursor:pointer;background-color:#9ce;color:#fff;}
/*uploading_side*/
.videoRight{margin:50px 20px 20px 0px;float:left;width:290px;display:inline;}/*2012_09_13_display:inline;*/
.upSide{height:30px;margin-bottom:20px;margin-left:10px;}
.upRight{width:235px;height:30px;float:left;}
.upRight dt{height:28px;line-height:28px;border:1px solid #bbb;padding-left:5px;font-size:14px;background:url(/v/img/upload/input_bg.png) repeat-x 0px -1px;}
.upRight .upload-selector{height:28px;line-height:28px;cursor:pointer;border:1px solid #bbb;padding-left:5px;font-size:14px;background:url(/v/img/upload/input_bg.png) repeat-x 0px -1px;}
.upRight .upload-selector span{float:left;}
.upRight .upload-selector:hover{cursor:pointer;border:1px solid #999;}/*2012_10_11_add*/
dt span{float:left;}
/*
.upRight dd{cursor:pointer;background-color:#fff;width:228px;line-height:29px;*height:29px;*line-height:29px;border:1px solid #999;border-top:none;font-size:14px;padding-left:5px;display:none;z-index:100;*position:absolute;*zoom:1;}
*/
.upRight dd{width:228px;float:left;line-height:29px;font-size:14px;padding-left:5px;z-index:10;cursor:pointer;background-color:#fff;}
dd.ddHover{background-color:#99CCEE;color:#fff; }

/*the hidden password style*/
.upload_input{line-height:30px;margin-top:10px;}/*2012_09_21_add_b*/
.upload_input input{width:220px;width:height:20px;margin-left:53px;line-height:20px;padding-left: 5px;}
.shortError{margin-left:55px;zoom:1;_z-index:1;}

.upList{line-height:30px;float:left;font-size:14px;}
.upList b{margin-right:20px;}
.upList p{margin-right:15px;}
.qzone{width:30px;height:30px;background:url(./img/upload.png) no-repeat -240px -80px;cursor:pointer;}
.sina{width:30px;height:30px;background:url(./img/upload.png) no-repeat -320px -80px;cursor:pointer;}
.weibo{width:30px;height:30px;background:url(./img/upload.png) no-repeat -400px -80px;cursor:pointer;}
.renren{width:30px;height:30px;background:url(./img/upload.png) no-repeat -400px 0px;}
.qzone input,.sina input,.weibo input{margin-top:14px;margin-left:16px;}

/*uploading_bottom*/
.saveBtn .items{margin:20px 20px 20px 63px;}
.saveBtn .items .save_tips{margin-left:30px;font-size:14px;color:#555;}/*2012_10_11_add*/
.saveBtn .items .save_tips em{display:inline-block;width:22px;height:20px;*height:22px;background:url(./img/upload.png) no-repeat 0px -219px;}
.saveBtn .save_error{margin-left:30px;font-size:14px;color:#AA0707;}

/*qwindow*/
.qwindow{top:50%; left:50%;margin-left:-130px;margin-top:-70px; width:222px; height:102px; z-index:2000; visibility:visible;}/*2012_09_21_add_b*/
.winhead{width:220px;}/*2012_09_21_add_b*/
.qwindow .winhead .wintitle {display: none;height: 30px;line-height: 30px;padding-left: 10px;font-size: 14px;color: #555;font-weight: bold;border-bottom: 1px solid #C5C5C5;overflow: hidden;}
.winbody{width:220px; height:100px; overflow:hidden;}/*2012_09_21_add_b*/
.tips_title{padding:20px;}
.tips_title h3{color:#555;}
.ico__fail{width:20px;height:20px;margin-right:6px;background:url(./img/upload.png) no-repeat 0px -78px;float: left;}/*2012_09_21_add_b*/
.ico__fail em{display:none;}
.tips_title p{color:#909090;}
.tips_action{margin-left:20px;}
.tips_action .form_btn{margin-right:20px;}
.qwindow .winbg{height:100%;_filter:alpha(opacity=20);_background-color:#d5d5d5;}
/*=======uploading_page_end=====*/

/*=======success_page_start=====*/
/*video_top*/
.upSuccess{height:83px;}
.icn_success{width:32px;height:32px;margin:20px 20px 31px;background:url(./img/upload.png) no-repeat -320px -160px;display:inline;}
.tips_success{margin:20px 0px;height:43px;}
.tips_success h1{line-height:18px;margin-bottom:10px;}
.tips_success p{line-height:14px;}
.upSuccess .form_btn{height:38px;float:right;margin:20px 41px 23px;}
.upSuccess .form_btn_l .form_btn_text {
    line-height:38px;
}

/*video_info*/
.success_Info{background-color:#f6f6f6;border-bottom:1px solid #dadada;}/*height:358px;*/
/*.success_Info .success_left{height:338px;}*/
.success_Info  h3{height:24px;margin:10px;}
.success_Info .items{line-height:20px;margin-bottom:14px;margin-left:10px;}
.success_Info .textareaItems{margin-bottom:10px;}
.success_Info .items .f_14,.success_Info .textareaItems .f_14{color:#909090;line-height:20px;}
.success_Info .textareaItems .f_14{width:43px;float:left;}
.success_Info .textareaItems .success_intro{float:left;width:567px;font-size:14px;line-height:24px;}
.success_Info .items span,.success_Info .textareaItems span{font-size:14px;}
.success_label{float:left;width:567px;}
.success_label span{margin-right:16px;margin-bottom:5px;float:left;word-break:normal;word-wrap:normal;white-space: nowrap;}

/*video_side*/
.success_side{margin-top:34px;}
.xiaonei{width:30px;height:30px;background:url(./img/upload.png) no-repeat -400px -160px;}
/*share style*/
.share li{float:left;position:relative;top:2px;height:16px;}
.share li a{position:relative;display:block;width:20px;height:20px;padding:3px;margin-right:9px;background:url(/v/img/ico_apps.png) no-repeat scroll;overflow:hidden;}
.share li em{position:absolute;bottom:7px;right:3px;width:10px;height:10px;text-indent:-999px;}
.share li.selected em{background:url(/v/img/ico_selected.png) no-repeat scroll;}
.share li .youku{width:65px;background-position:0 0;}
.share li .renren{background-position:-96px -32px;cursor:default;}
.share li .sina{background-position:0 -32px;cursor:default;}
.share li .tencent{background-position:-32px -32px;cursor:default;}
.share li .qzone{background-position:-64px -32px;cursor:default;}
.share li .msn{background-position:0 -64px;cursor:default;}
.share li .kaixin{background-position:-32px -64px;cursor:default;}
.share li .renren_dis{background-position:-96px -192px;}
.share li .sina_dis{background-position:0 -192px;}
.share li .tencent_dis{background-position:-32px -192px;}
.share li .qzone_dis{background-position:-64px -192px;}
.share li .msn_dis{background-position:0 -222px;}
.share li .kaixin_dis{background-position:-32px -222px;}
/*album style*/
.popwin{position:fixed;_position:absolute;z-index:10;left:50%;top:50%;margin-left:-325px;margin-top:-280px;width:650px;height:560px;}
.popwin .bg{position:absolute;z-index:1;width:650px;height:560px;background:#666;filter:alpha(opacity=80);opacity:0.8;border-radius:5px;-webkit-border-radius:5px;}
.popwin .listEditBox{position:absolute;z-index:2;top:12px;left:12px;width:624px;height:534px;border:1px solid #ccc;background:#fff;overflow:hidden;}
.listEditBox .tab{position:relative;height:50px;padding-left:35px;}
.listEditBox .tab .menus{padding-top:13px;}
.listEditBox .tab .menus li{float:left;padding:0 15px;line-height:25px;margin-right:15px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;color:#3399cc;font-size:14px;cursor:pointer;}
.listEditBox .tab .menus li.current{background:#289fef;color:#fff;cursor:default;}
.listEditBox .close{position:absolute;top:7px;right:7px;width:12px;height:12px;background:url(/v/img/upload/ico_LC.png) no-repeat scroll;cursor:pointer;}
.listEditBox .list{position:relative;height:410px;overflow-y:auto;}
.listEditBox .list li{position:relative;height:41px;line-height:41px;padding-left:35px;}
.listEditBox .list li div{position:absolute;top:9px;left:10px;#top:14px;_top:9px;}
.listEditBox .list li span{margin-right:10px;font-size:14px;}
.listEditBox .even{background:#f2f9fe;}
.listEditBox .checked{color:#3399e0;}
.listEditBox .pager{height:60px;padding:20px 25px 0 35px;}
.listEditBox .action{float:left;height:32px;}
.listEditBox .qPager{float:right;clear:none;margin-top:5px;}
.listEditBox .stat{display:none;}
.listEditBox .pager a{color:#3399cc;}
.listEditBox .pager .preNext a{color:#C6C6C6;}
.listEditBox .form_btn{margin-right:20px;}
/*=======success_page_end=====*/
